<!DOCTYPE HTML>
<html>
<head>
    <title>Hydrolego</title>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js" integrity="sha512-bLT0Qm9VnAYZDflyKcBaQ2gg0hSYNQrJ8RilYldYQ1FxQYoCLtUjuuRuZo+fjqhx/qtq/1itJ0C2ejDxltZVFg==" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/3.0.4/socket.io.js" integrity="sha512-aMGMvNYu8Ue4G+fHa359jcPb1u+ytAF+P2SCb+PxrjCdO3n3ZTxJ30zuH39rimUggmTwmh2u7wvQsDTHESnmfQ==" crossorigin="anonymous"></script>
    <script type="text/javascript" charset="utf-8">
        $(document).ready(function() {
            var socket = io();
            // Interval function that tests message latency by sending a "ping"
            // message. The server then responds with a "pong" message and the
            // round trip time is measured.
            window.setInterval(function() {
                socket.emit('SensoresWeb');
            }, 1000);

            socket.on('SensoresWeb2', function(datosJson) {
                $('#temp').text(datosJson["temp"])
                $('#pH').text(datosJson["ph"])
                $('#Electroconductividad').text(datosJson["ec"])
            });

        });
    </script>
</head>
<body>
    <h1>Hydrolego</h1>
    <p>
      Temp: <b><span id="temp"></span>°C</b><br>
      pH: <b><span id="pH"></span></b><br>
      EC: <b><span id="Electroconductividad"></span>ms/cm</b>
    </p>
</body>
</html>